<ion-header>

    <ion-toolbar>
        <ion-buttons *ngIf="back" slot="start">
            <ion-button>
                <ion-back-button></ion-back-button>
            </ion-button>
        </ion-buttons>
        <ion-title>dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <app-fbpost *ngFor="let item of plist" [item]="item" (userposts)="showUserPosts($event)"></app-fbpost>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>