<ion-card>
    <ion-item (click)="userposts.emit(user)">
        <ion-avatar class="ion-margin-end">
            <ion-img [src]="user?.picture"></ion-img>
        </ion-avatar>
        <ion-label>
            <small>{{item?.title}}</small>
            <h2>{{user?.username}}</h2>

        </ion-label>

    </ion-item>
    <ion-card-header>
        <ion-img [src]="'https://picsum.photos/300/150'"></ion-img>
    </ion-card-header>

    <ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    {{item.body}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4" class="ion-no-padding">
                    <ion-button size="small" fill="clear" color="secondary" expand="block">
                        <ion-icon slot="start" name="heart-outline"></ion-icon>
                        Like
                    </ion-button>
                </ion-col>
                <ion-col size="4" class="ion-no-padding">
                    <ion-button size="small" fill="clear" color="secondary" expand="block">
                        <ion-icon slot="start" name="chatbubble-outline"></ion-icon>
                        Comment
                    </ion-button>
                </ion-col>
                <ion-col size="4" class="ion-no-padding">
                    <ion-button size="small" fill="clear" color="secondary" expand="block">
                        <ion-icon name="share-social-outline"></ion-icon>
                        Share
                    </ion-button>
                </ion-col>
            </ion-row>


        </ion-grid>

    </ion-card-content>
</ion-card>